<?xml version="1.0" encoding="UTF-8" ?>
<!-- <!DOCTYPE configuration PUBLIC "-//www.github.com//jmodel//adapter//DTD 
	Config 0.0.2//EN" "http://www.github.com/jmodel/adapter/dtd/config.dtd"> -->
<configuration>

	<region id="Service">
		<item id="ExampleService" value="ExampleService" />
	</region>
	<region id="Feature">
		<item id="ExampleFeature" value="ExampleFeature" />
	</region>

</configuration>